* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.upper {
  padding-left: 75px;
  padding-right: 75px;
  width: 100%;
  height: 75px;
  background: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.logo {
  margin-right: 5px;
}
.line {
  margin-left: 10px;
  margin-right: 10px;
  border-left: 2.5px solid #ffffff;
  height: 30px;
}
.easy {
  width: 16%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.submit {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  border: 1px solid #f2f2f2;
  border-radius: 7.5px;
  background-color: #212121;
}
.sign-in {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  border: 1px solid #3944bc;
  border-radius: 7.5px;
  background-color: #3944bc;
}
.top {
  width: 100%;
  height: 350px;
  background-color: #dadbf1;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search {
  font-size: large;
  width: 600px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #666362;
  border-radius: 2.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 2.5;
  font-size: 25px;
  width: 600px;
  height: 50px;
  background-size: 25px;
  background-position: 565px;
  background-image: url(arrow-right.svg);
  background-repeat: no-repeat;
  display: flex;
}
.bottom {
  width: 100%;
  height: 700px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elements {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.element {
  width: 45%;
  height: 30%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.icons {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}
.learn-more {
  font-size: large;
  display: flex;
  align-items: center;
}
