* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main {
  width: 100%;
  height: 677px;
}
.option {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.boxintro {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
