* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.top {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  height: 95vh;
}

.left {
  width: 12.5%;
  height: 100%;
}

.right {
  width: 87.5%;
  height: 100%;
}

.one,
.two,
.three {
  height: 100%;
  display: flex;
  align-items: center;
}

.one {
  width: 10%;
  justify-content: space-between;
}

.two {
  width: 35%;
  justify-content: space-between;
}

.three {
  width: 10%;
  justify-content: space-between;
}

.filter,
.video {
  width: 100%;
}

.filter {
  height: 5%;
  display: flex;
  justify-content: space-between;
}

.video {
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.bichleg {
  width: 30%;
  height: 45%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.zurag {
  width: 100%;
  height: 80%;
}

.zurag img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.description {
  width: 100%;
  height: 20%;
  display: flex;
}

.channel {
  margin-left: 10px;
  width: 15%;
  display: flex;
  align-items: center;
}

.channel img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.descriptions {
  width: 85%;
}

.name,
.name1,
.date {
  width: 100%;
  height: 33.3%;
}

.name1,
.date {
  font-size: small;
}

.menu,
.menu2,
.signin,
.explore {
  padding-left: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.menu {
  height: 20%;
}

.menu2 {
  height: 15%;
}

.signin {
  height: 20%;
}

.explore {
  height: 39%;
}

.h2 {
  width: 100%;
  height: 10%;
}

hr {
  width: 100%;
  color: lightgrey;
}

.menu p,
.menu2 p,
.signin p,
.explore p {
  display: flex;
  align-items: center;
}

.signin p {
  color: #2269ca;
}

.one img {
  height: 25px;
}

.one h1 {
  color: #2269ca;
}

.search-bar {
  width: 95%;
  height: 70%;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar p {
  margin-left: 10px;
}

.button,
.microphone,
.three-dot {
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 7.5%;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.microphone,
.three-dot {
  width: 25.525px;
  height: 25.525px;
}

.human {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  display: flex;
}

.sign-in {
  margin-right: 10px;
  height: 70%;
  display: flex;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 50px;
}

.sign-in p {
  margin-right: 5px;
}

.filter p {
  margin: 10px 10px;
  height: 70%;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
