body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.container {
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.week {
  margin: 10px;
  background-color: #ffffff;
  width: 47%;
  border-radius: 10px;
}
.days {
  margin-top: 5px;
  background-color: #000000;
}
.week h3 {
  color: #ffffff;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}
.everything {
  width: 100%;
  height: 579px;
  display: flex;
  justify-content: center;
}
footer {
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
