* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.one {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-left {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  font-size: large;
  font-weight: 600;
}
.uno {
  color: #ff764d;
}
.top-right {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}
.dos {
  font-size: large;
  color: #0000ff;
}
.tres {
  font-size: small;
  font-weight: 700;
}
hr {
  border-top: 1px solid #eee;
}
.two {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.two p {
  font-size: small;
  font-weight: 700;
  padding-left: 50px;
}
.cuatro {
  color: #ff764d;
}
.three {
  position: relative;
}
.photo-one {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  object-fit: cover;
  height: 600px;
}
.cinco {
  display: block;
  color: #ff764d;
  font-size: 100px;
  font-weight: 600;
  position: absolute;
  top: 275px;
  left: 581.9125px;
  right: 581.9125px;
}
.four {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.seis {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}
.siete {
  line-height: 30px;
}
span {
  color: #0000ff;
}
.five {
  height: 750px;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 150px;
}
.diez {
  background-color: #fbffa7;
  height: 100%;
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 300px;
  z-index: 0;
}
.nueve {
  object-fit: cover;
  position: absolute;
  margin-right: 800px;
  z-index: 1;
}
.six {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.once {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 25px;
}
.doce {
  line-height: 30px;
}
.seven {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
.trece {
  font-weight: 600;
  font-size: 15px;
}
.eight {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.catorce {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 25px;
}
.quince {
  line-height: 30px;
}
.nine {
  height: 1000px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 150px;
}
.diecisiete {
  background-color: #b6ffc0;
  height: 100%;
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 300px;
  z-index: 0;
}
.diecisies {
  object-fit: cover;
  position: absolute;
  margin-left: 800px;
  z-index: 1;
}
.dieciocho {
  position: absolute;
  bottom: 100px;
  left: 100px;
}
.diecinueve {
  position: absolute;
  top: 100px;
  left: 100px;
}
.ten {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.veinte {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 25px;
}
.veintiuno {
  line-height: 30px;
}
.eleven {
  position: relative;
}
.photo-8 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.twelve {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.veintidos {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 25px;
}
.veintitres {
  line-height: 30px;
  margin-bottom: 25px;
}
.veinticuatro {
  line-height: 30px;
}
.thirteen {
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.veintiocho {
  background-color: #d5b3ff;
  height: 100%;
  width: 65%;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 300px;
  z-index: 0;
}
.veintisies {
  object-fit: cover;
  position: absolute;
  margin-left: 800px;
  z-index: 1;
  height: 650px;
}
.veintisiete {
  position: absolute;
  margin-right: 800px;
  z-index: 1;
}
.fourteen {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.veintinueve {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 25px;
}
.treinta {
  line-height: 30px;
}
.fifteen {
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.last-box {
  background-color: #b1c5ff;
  height: 100%;
  width: 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: 0;
}
.last-img {
  object-fit: cover;
  height: 100%;
  width: 40%;
  left: 0;
}
.last-div {
  width: 70%;
}
.last-p1 {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 25px;
}
.last-p2 {
  font-size: 25px;
  font-weight: 600;
  color: #0000ff;
}
hr {
  border: 1px solid #efefef;
}
.bottom {
  height: 750px;
}
.upper-upper,
.middle-upper,
.middle-lower,
.lower-lower {
  width: 100%;
  height: 25%;
  padding-left: 100px;
}
.upper-upper {
  font-size: 50px;
  font-weight: 600;
  display: flex;
  align-items: end;
}
.middle-upper {
  display: flex;
  align-items: end;
}
.upper-left {
  line-height: 30px;
}
.lower-left {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
svg {
  margin-left: 5px;
  margin-right: 5px;
}
