* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #00c1b5;
  position: relative;
  width: 1536px;
  height: 729px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one {
  position: absolute;
  top: 0;
  left: 0;
}
.two {
  position: absolute;
  top: 0;
  right: 0;
}
.three {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
}
.four {
  position: absolute;
  bottom: 0;
  right: 608px;
  left: 608px;
  width: 320px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  line-height: 35px;
}
.second {
  color: #ffffff;
}
.third {
  display: flex;
  flex-direction: row;
}
.uno {
  margin-right: 4px;
}
.dos {
  color: #ffffff;
}
.five {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}
